.categoryBar {
  background-color: #000000 !important;
  color: #ffffff !important;
  min-height: 5vh !important;
}
.categoryBarItem {
  color: #ffffff !important;
}
.categoryBarItemOffers {
  color: #f11133 !important;
  font-weight: bolder;
}
