.homeAll {
  display: flex;
  flex-direction: row;
}
.homeImg {
  width: 47%;
  margin-right: 2%;
}
.homeData {
  width: 47%;
  margin-left: 2%;
}
.homeBrandImg {
  width: 100px;
  margin-left: -6%;
}
